@import url(styles/colors.css);

body {
    background-color: var(--background); color: var(--foreground);
    margin: 0; padding: 0;
}

a, a:visited { text-decoration: none; }
a:not(.btn):visited { color: var(--color2); }
a:not(.btn):hover { color: var(--color4); }

.page {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.btn {
    padding: 3px 5px;
    background-color: var(--color2);
    border: 1px solid var(--border-outer);
    border-radius: 3px;
    color: var(--background-alt);
    outline: none;
    cursor: pointer;
}

.btn:hover { background-color: var(--color4); }

@import url(styles/header.css);

label {
    font-size: .8em;}
label input, label textarea {
    display:block;
    margin: 2px 0 5px 0;
}

.too-short {
    background-color: red;
}
.not-matching {
    background-color: red;
}
