:root {
    content: 'dark';

    --background: #0a0d0b;
    --background-alt: #0d100e;
    --foreground: #e2d5b5;
    --foreground-alt: #5e513b;

    --color1: #a13c00;
    --color2: #b37500;
    --color3: #b11a00;
    --color4: #ed7900;
    /* --color5: #83ed00;
    --color6: #fe9f10;
    --color7: #e2d0b0;
    --color8: #5e513b;
    --color9: #a13c00; */

    --foreground-hi: var(--color4);
    --border-outer: var(--background);
    --border-inner: var(--foreground-alt);
    --pages-bg: var(--background);
}

html.light {
    --background: #ebe3cf;
    --background-alt: #5e513b;
    --foreground: #0a0d0b;
    --foreground-alt: #3b643b;

    --color2: #5e3d00;
    --color4: #ca6800;

    --foreground-hi: var(--color1);
}
