.header {
    height: 3.3em;
    border-bottom: 1px solid var(--color1);
    position: relative;
    width: 100%;
}

.header .page {
    position: relative;
    display: flex;
}

.header .page > div {
    width: fit-content;
    line-height: 3.3em;
}

.header .left { left: 0; }
.header .left a { color: var(--color1); font-size: 2.5em; }
.header .left a:hover { color: var(--color4); }

.header .mid { flex: 1; text-align: center; }
.header .mid a {
    padding: 1px 14px;
    border-right: 1px solid var(--color2);
}
.header .mid a:last-child { border-right: none; }

.header .right span { display:inline-block; margin-right: 10px; font-size: .8em; }
.header .right .actions { display: inline-block; }